/************************************************************************/
/* TYPOGRAPHY
/************************************************************************/

a {
	color: $link_color;
	text-decoration: none;
	@include single-transition(all, 0.2s, ease-in-out);
	
	&:visited {
		color: $link_color;
	}
	
	&:hover {
		text-decoration: none;
		color: $link_hover;
	}
	
	&:hover, &:active, &:focus { outline: 0; }
}

p {
	font-size: $base_font_size;
	line-height: $base_font_size;
	margin-bottom: 1.5rem;
}

/************************************************************************/
/* HEADINGS
/************************************************************************/

#{headings()} {
	color: $heading_color;
	font-family: $heading_font;
	font-weight: 500;
	text-rendering: optimizelegibility;
	line-height: $base_line_height;
	margin-bottom: 1rem;
}

h1 {
	font-size: 3.2rem;
}

h2 {
	font-size: 2.4rem;
}

h3 {
	font-size: 2.0rem;
}

h4 {
	font-size: 1.8rem;
}

h5 {
	font-size: 1.6rem;
}

h6 {
	font-size: 1.4rem;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?x8w5x2');
  src:  url('../fonts/icomoon.eot?x8w5x2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?x8w5x2') format('truetype'),
    url('../fonts/icomoon.woff?x8w5x2') format('woff'),
    url('../fonts/icomoon.svg?x8w5x2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e902";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-music:before {
  content: "\e911";
}
.icon-play:before {
  content: "\e912";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-linkedin:before {
  content: "\eac9";
}

